# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de configuración de entorno
.env
*.env
.env.*

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Cache y logs
cache/
*.log
logs/
*.cache
*.tmp
tmp/

# Archivos de respaldo o temporales
*.bak
*.swp
*.swo
*.orig
*~

# Archivos de bases de datos locales
*.sqlite
*.sqlite3
*.db

# Node.js y Composer
node_modules/
vendor/
package-lock.json
composer.lock

# Directorios específicos de XAMPP
xampp/
xamppfiles/
htdocs/test/

# Otros
/public/uploads/